/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face{
    font-family: 'regular';
    src: url('../fonts/GA-Sylvia-Regular.otf');
}
 @font-face{
    font-family:'bold';
    src: url('../fonts/GA-Sylvia-Bold.otf');
}
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgb(244,208,63);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(244,208,63,1)), color-stop(90%, rgba(20,90,50,1)));
    background: -o-linear-gradient(top, rgba(244,208,63,1) 10%, rgba(20,90,50,1) 90%);
    background: linear-gradient(180deg, rgba(244,208,63,1) 10%, rgba(20,90,50,1) 90%);
}
:root{
    --navFontSize: 20px;
    --navBorder-radius: 100px 100px 0 100px;
    --navBorder-radius-hover: 100px 100px 100px 0;
    --navButtonBorder-radius: 100px;
    --navButtonBorder-radius-hover: 10px;
    --navTransition:1s;
    --navPagesBackground: #145A32;
    --navPagesColor: #F4D03F;

    --mainFontSize:22px;

    --footerFontSize:18px;
    --background-color:  #145A32;
    --textColor: #F4D03F;
}
    header {
        border-radius: 10px;
        width: 1680px;
        height: auto;
        background-color: #145a32;
        background-image: url(../imgsData/terms-policy-background-page-1.jpg);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
        .menu-bar{
            width: 1680px;
            height: 200px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
            #menu-bar-ul{
                width: 1680px;
                height: 200px;
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack:space-evenly;
                    -ms-flex-pack:space-evenly;
                        justify-content:space-evenly;
                list-style: none;
            }
                    .navPages-sub{
                            background-color: var(--navPagesBackground);
                            color: var(--navPagesColor);
                            border-radius: var(--navBorder-radius);
                            -webkit-box-shadow: 2px 2px 3px #F4D03F, 0px 0px 25px greenyellow, 0px 0px 5px #145A32;
                                    box-shadow: 2px 2px 3px #F4D03F, 0px 0px 25px greenyellow, 0px 0px 5px #145A32;
                            width: 200px;
                            height: 60px;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                    justify-content: center;
                            -webkit-box-align: center;
                                -ms-flex-align: center;
                                    align-items: center;
                            font-size: var(--navFontSize);
                            text-decoration: none;
                            font-family: bold;
                            -webkit-transition: 1;
                            -o-transition: 1;
                            transition: 1;
                    }
                    .navPages-sub img{
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;
                    }
                        .sub-menu-1{
                            display: none;
                        }
                            .sub-menu-1 ul{
                                list-style: none;
                                width: 250px;
                                height: 240px;
                                border-radius: var(--navBorder-radius);
                            }
                                .sub-menu-1 ul li{
                                    height: 60px;
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-box-pack: justify;
                                        -ms-flex-pack: justify;
                                            justify-content: space-between;
                                    -webkit-box-align: center;
                                        -ms-flex-align: center;
                                            align-items: center;
                                    border-bottom: 1px dotted #145a32;
                                }
                                    .sub-menu-1 ul li:last-child{
                                        border-bottom: none;
                                    } 
                                        .sub-menu-2{
                                            display: none;
                                        }
                                            .sub-menu-2 ul{
                                                width: 200px;
                                                height: 120px;
                                            }
                                                .sub-menu-2 ul li{
                                                    height: 60px;
                                                    width: 200px;
                                                }
                                            .hoverMe:hover .sub-menu-2{
                                                position: absolute;
                                                display: block;
                                                background-color: #F4D03F;
                                                margin-top: 60px;
                                                margin-left: 235px;
                                                width: 250px;
                                                height: 120px;
                                                border-radius: 0px 20px 20px 20px;
                                            }
                                            .sub-Menu-1 .hoverMe:hover #img{
                                                border: 3px solid #145A32;
                                                border-radius: 5px;
                                            }
                                    .sub-menu-1 ul li a{
                                        width: 250px;
                                        text-decoration: none;
                                        font-family: "regular";
                                        font-size: var(--navFontSize);
                                        color: var(--navPagesBackground);
                                        display: -webkit-box;
                                        display: -ms-flexbox;
                                        display: flex;
                                        -webkit-box-align: center;
                                            -ms-flex-align: center;
                                                align-items: center;
                                        -webkit-box-pack: justify;
                                            -ms-flex-pack: justify;
                                                justify-content: space-between;
                                    }
                                    .sub-menu-1 ul li a img{
                                        width: 30px;
                                        height: 30px;
                                        margin-right: 25px;
                                    }
                        .menu-bar ul li:hover .sub-menu-1{
                            display: block;
                            position: absolute;
                            background-color: #F4D03F;
                            margin-top: 0px;
                            border-radius: 0px 20px 20px 20px;
                        }
                        .menu-bar ul li:hover .navPages-sub{
                            border-radius: var(--navBorder-radius-hover);
                            background-color: var(--navPagesColor);
                            color: var(--navPagesBackground);
                            font-family: bold;
                        }
                        .menu-bar ul li:hover .navPages-sub img{
                            background-color: #145a32;
                            border-radius: 5px;
                            padding: 3px;
                        }
                    .navPages{
                        background-color: var(--navPagesBackground);
                        color: var(--navPagesColor);
                        border-radius: var(--navBorder-radius);
                        -webkit-box-shadow: 2px 2px 3px #F4D03F, 0px 0px 25px greenyellow, 0px 0px 5px #145A32;
                                box-shadow: 2px 2px 3px #F4D03F, 0px 0px 25px greenyellow, 0px 0px 5px #145A32;
                        width: 150px;
                        height: 60px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        font-size: var(--navFontSize);
                        text-decoration: none;
                        font-family: bold;
                        -webkit-transition: var(--navTransition);
                        -o-transition: var(--navTransition);
                        transition: var(--navTransition);
                    }
                        .navPages:hover{
                            border-radius: var(--navBorder-radius-hover);
                            background-color: var(--navPagesColor);
                            color: var(--navPagesBackground);
                            font-family: bold;
                        }
                        .navPages:active{
                            background-color: var(--navPagesBackground);
                            color: var(--navPagesColor);
                        }
                    .navButton{
                        background-color: var(--navPagesColor);
                        border-radius: var(--navButtonBorder-radius);
                        width: 200px;
                        height: 75px;
                        -webkit-transition: var(--navTransition);
                        -o-transition: var(--navTransition);
                        transition: var(--navTransition);
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        text-decoration: none;
                        -webkit-box-shadow: 2px 2px 3px #F4D03F, 0px 0px 25px greenyellow, 0px 0px 5px #F4D03F;
                                box-shadow: 2px 2px 3px #F4D03F, 0px 0px 25px greenyellow, 0px 0px 5px #F4D03F;
                    }
                .navButton:hover{
                    cursor: pointer;
                    border-radius: var(--navButtonBorder-radius-hover);
                }
                #navButton{
                    background-color: var(--navPagesColor);
                    color: var(--navPagesBackground);
                    border-radius: var(--navButtonBorder-radius);
                    width: 200px;
                    height: 75px;
                    -webkit-transition: var(--navTransition);
                    -o-transition: var(--navTransition);
                    transition: var(--navTransition);
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-pack: space-evenly;
                        -ms-flex-pack: space-evenly;
                            justify-content: space-evenly;
                    font-size: 22px;
                    font-family: bold;
                }
                    #navButton:hover{
                    cursor: pointer;
                    border-radius: var(--navButtonBorder-radius-hover);
                }
            .navLogo{
                width: 150px;
                height: 150px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                border-radius: 75px;
                -webkit-box-shadow: 2px 2px 3px #F4D03F, 0px 0px 25px greenyellow, 0px 0px 5px #F4D03F;
                        box-shadow: 2px 2px 3px #F4D03F, 0px 0px 25px greenyellow, 0px 0px 5px #F4D03F;
            }    
                #navLogo{
                    width: 150px;
                    height: 150px;
                    border-radius: 75px;
                    position: relative;
                    -webkit-animation-name: rotate;
                            animation-name: rotate;
                    -webkit-animation-duration: 22s;
                            animation-duration: 22s;
                    -webkit-animation-iteration-count: infinite;
                            animation-iteration-count: infinite;
                }
                    @-webkit-keyframes rotate {
                        0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
                        50% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
                        100% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
                    }
                    @keyframes rotate {
                        0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
                        50% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
                        100% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
                    }
        main {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: auto;
            grid-template-columns: auto;
            -ms-grid-rows: auto;
            grid-template-rows: auto;
            grid-row-gap: 5px;
            color: #F4D03F;
            width: 1680px;
            height: auto;
        }
        main > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
        }
            main .header{
                padding: 5px 20px;
                background-color: #7D3C98;
                border-radius: 20px;
            }
            main .article{
                padding: 5px 50px;
                /* background-color: #7D3C98;
                border-radius: 20px; */
            }
    footer{
        border-radius: 10px;
        width: 1680px;
        height: 500px;
        margin-bottom: 10px;
        background-color: #145A32;
        background-image: url(../imgsData/footer-background_page_1.jpg);
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        background-blend-mode: multiply;
    }   
        .topFooter{
            width: 1680px;
            height: 400px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
            .topFooter-leftSide{
                width: 400px;
                height: 250px;
                margin-left: 20px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: space-evenly;
                    -ms-flex-pack: space-evenly;
                        justify-content: space-evenly;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }
                .footerLogo img{
                    border-radius: 20px;
                    margin-bottom: 10px;
                }
                .socSectionHeader{
                    color: var(--textColor);
                    font-family: 'bold';
                }
                .socSection{
                    border-radius: 10px;
                    width: 150px;
                    height: 100px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    padding: 30px;
                }
                    .facebookLogo img{
                        margin-right: 15px;
                        -webkit-animation-name: rotate2;
                                animation-name: rotate2;
                        position: relative;
                        -webkit-animation-duration: 10s;
                                animation-duration: 10s;
                        -webkit-animation-iteration-count: infinite;
                                animation-iteration-count: infinite;
                    }
                    .instagramLogo img{
                        margin-left: 15px;
                        -webkit-animation-name: rotate2;
                                animation-name: rotate2;
                        position: relative;
                        -webkit-animation-duration: 10s;
                                animation-duration: 10s;
                        -webkit-animation-iteration-count: infinite;
                                animation-iteration-count: infinite;
                    }
                        @-webkit-keyframes rotate2 {
                            0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
                            20% { -webkit-transform: rotate(45deg); transform: rotate(45deg);}
                            70% { -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
                            100% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
                        }
                        @keyframes rotate2 {
                            0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
                            20% { -webkit-transform: rotate(45deg); transform: rotate(45deg);}
                            70% { -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
                            100% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
                        }
            .topFooter-middleSide{
                width: 600px;
                height: 300px;
                font-family: "regular";
            }
                .topFooter-middleSide h3{
                    color: var(--textColor);
                    padding: 10px;
                    border-radius: 5px;
                    text-align: center;
                }
                .topFooter-middleSide dl{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: space-evenly;
                        -ms-flex-pack: space-evenly;
                            justify-content: space-evenly;
                }
                .topFooter-middleSide dt{
                    color: var(--textColor);
                    padding: 5px 15px;
                    border-radius: 5px;  
                    font-family: 'bold';
                     margin-bottom: 5px; 
                }
                    .topFooter-middleSide dd{
                    color: var(--textColor);
                    padding: 5px 15px;
                    border-radius: 5px;
                    margin-bottom: 5px;  
                }
            .topFooter-rightSide{
                border-radius: 10px;
                width: 400px;
                height: 250px;
                margin-right: 20px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: space-evenly;
                    -ms-flex-pack: space-evenly;
                        justify-content: space-evenly;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                font-family: 'regular';
            }
                .topFooter-rightSide h3 {
                    width: 350px;
                    height: 20px;
                    color: var(--textColor);
                    padding: 10px;
                    border-radius: 5px;
                    text-align: center;
                }
                .topFooter-rightSide .inputEmail {
                    width: 370px;
                    height: 40px;
                    font-family: 'regular';
                    font-size: 15px;
                    border: solid 3px #F4D03F;
                    border-radius: 5px;
                    padding: 3px 10px;
                    background-color: #145A32;
                    color: #F4D03F;
                }
                    .inputEmail:focus{ 
                        background-color: #F4D03F;
                        color: #17202A;
                        font-size: var(--footerFontSize);
                        font-family: 'bold';
                    }
                    .inputEmail::-webkit-input-placeholder{
                        color: #F4D03F;
                    }
                    .inputEmail::-moz-placeholder{
                        color: #F4D03F;
                    }
                    .inputEmail:-ms-input-placeholder{
                        color: #F4D03F;
                    }
                    .inputEmail::-ms-input-placeholder{
                        color: #F4D03F;
                    }
                    .inputEmail::placeholder{
                        color: #F4D03F;
                    }
                .topFooter-rightSide .subscribe{
                    border: solid 3px #F4D03F;
                    width: 200px;
                    height: 40px;
                    border-radius: 15px;
                    font-family: 'bold';
                    font-size: var(--footerFontSize);
                    background-color:#145A32;
                    color:#F4D03F;
                }
                .topFooter-rightSide .subscribe:hover{
                    cursor: pointer;
                    background-color: #F00E2C;
                    color: #F7DC6F;
                }
        .bottomFooter{
            border-top: solid 5px #145a32;
            width: 1680px;
            height: 100px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }   
            .bottomFooter-leftSide{
                width: 200px;
                height: 50px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                padding-left: 20px;
                font-family: 'bold';
                font-size: var(--footerFontSize);
            }
                .bottomFooter-leftSide a{
                    text-decoration: none;
                    color: var(--textColor);
                    padding: 5px;
                    border-radius: 5px;
                }
                .bottomFooter-rightSide{
                width: 600px;
                height: 50px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                padding-right: 20px;
                font-family: 'bold';
                font-size: var(--footerFontSize);
            }
                .bottomFooter-rightSide a{
                    text-decoration: none;
                    color: var(--textColor);
                    padding: 5px;
                    border-radius: 5px;
                }

                .messenger-box{
                    border-radius: 20px;
                    width: 80px;
                    height: 80px;
                    position: fixed;
                    margin-left: 1760px;
                    margin-top:0px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                }
                    .messenger-box img{
                        width: 60px;
                        height: 60px;
                    }
                    .messenger-box img:hover{
                        cursor: pointer;
                        -webkit-animation-name: buzz;
                                animation-name: buzz;
                        -webkit-animation-duration: 1s;
                                animation-duration: 1s;
                        -webkit-animation-iteration-count: infinite;
                                animation-iteration-count: infinite;
                    }
                
                    @-webkit-keyframes buzz{
                        0%{-webkit-transform: translateX(0);transform: translateX(0);}
                        10%{-webkit-transform: translateX(5px);transform: translateX(5px);}
                        20%{-webkit-transform: translateX(0);transform: translateX(0);}
                        30%{-webkit-transform: translateX(5px);transform: translateX(5px);}
                        40%{-webkit-transform: translateX(0);transform: translateX(0);}
                        50%{-webkit-transform: translateX(5px);transform: translateX(5px);}
                        60%{-webkit-transform: translateX(0);transform: translateX(0);}
                        70%{-webkit-transform: translateX(5px);transform: translateX(5px);}
                        80%{-webkit-transform: translateX(0);transform: translateX(0);}
                        90%{-webkit-transform: translateX(0);transform: translateX(0);}
                        100%{-webkit-transform: translateX(0);transform: translateX(0);}
                    }
                
                    @keyframes buzz{
                        0%{-webkit-transform: translateX(0);transform: translateX(0);}
                        10%{-webkit-transform: translateX(5px);transform: translateX(5px);}
                        20%{-webkit-transform: translateX(0);transform: translateX(0);}
                        30%{-webkit-transform: translateX(5px);transform: translateX(5px);}
                        40%{-webkit-transform: translateX(0);transform: translateX(0);}
                        50%{-webkit-transform: translateX(5px);transform: translateX(5px);}
                        60%{-webkit-transform: translateX(0);transform: translateX(0);}
                        70%{-webkit-transform: translateX(5px);transform: translateX(5px);}
                        80%{-webkit-transform: translateX(0);transform: translateX(0);}
                        90%{-webkit-transform: translateX(0);transform: translateX(0);}
                        100%{-webkit-transform: translateX(0);transform: translateX(0);}
                    }